
  body {
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95vh;
  }
  main {
    background-color:lavender;
    text-align: center;
    flex: 1 0 auto;
  }
  h1 {
    color: white;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: whitesmoke;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
   
  }
  
  #heading {
    color: rgb(22, 22, 101);
    background-color: #a683e3;
    text-align: center;
  }
  form.edit {
    display: flex;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0ddee;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input[type="checkbox"] {
    margin: 20px;
    margin-left: 0;
  }
  
  p {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    color:rgb(22, 22, 101);
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button.add {
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 20px;
    border: none;
    background: none;
  }
  
  button.edit {
    
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
    border: none;
    background: none;
  }
  
  .icon {
    height: 20px;
  }
  
  input[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 80%;
  }
  
  input[type="text"]:focus {
    outline: none;
    
  }
  
  ::placeholder {
    color: rgb(105, 165, 235);
    opacity: 1;
  }

  input[type="date"] {
    background-color: #a683e3;
    color: rgb(22, 22, 101);
    font-size: 20px;
    font-weight: 200;
    max-width: 400%;
    border-radius: 10px;
    border-color: #a683e3;
  }
  